.circle-avatar-sm {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 12px;
  color: white;
  line-height: 24px;
  text-align: center;
  background: $grey;
}

.circle-plus-sm {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 16px;
  color: white;
  line-height: 22px;
  text-align: center;
}

.circle-plus-sm:before {
  content: "+";
}

.circle-plus-sm:hover {
  transition: box-shadow 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 30px 0px white;
  -moz-box-shadow:    0px 0px 30px 0px white;
  box-shadow:         0px 0px 30px 0px white;
  cursor: pointer;
}

.circle-plus-med {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 28px;
  color: white;
  line-height: 34px;
  text-align: center;
}

.circle-plus-med:before {
  content: "+";
}

.circle-plus-med:hover {
  transition: box-shadow 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 30px 0px white;
  -moz-box-shadow:    0px 0px 30px 0px white;
  box-shadow:         0px 0px 30px 0px white;
  cursor: pointer;
}

.circle-avatar-med {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 18px;
  color: white;
  line-height: 36px;
  text-align: center;
  background: $grey;
}

.circle-avatar-lg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 24px;
  color: white;
  line-height: 48px;
  text-align: center;
  background: $grey;
}
