.app {
  display: flex;
  height: 100%;
}

.header-nav {
  height: 48px;
  line-height: 48px;

  div, ul, li {
    height: 100%;
  }

}

.empty-sm {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  background: $blue-black;
}

.circle-avatar-sm {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 12px;
  color: white;
  line-height: 24px;
  text-align: center;
  background: $grey;
}

.circle-avatar-med {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 18px;
  color: white;
  line-height: 36px;
  text-align: center;
  background: $grey;
}

.circle-avatar-lg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 24px;
  color: white;
  line-height: 48px;
  text-align: center;
  background: $grey;
}

.team-list {
  display: flex;
  justify-content: space-around;
}

i.material-icons {
  height: 48px;
  line-height: 48px;
}

.header-links {
  margin: 0;
  display: flex;
  justify-content: space-between;

  a {
    color: $link-grey;
  }

  a:hover {
    color: $dark-blue;
  }
}

.main-page {
    width: 100%;
}

#header-wrapper {
  display: flex;
}

#sidebar-wrapper {
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  left: -220px;
  transition: 0.5s;
  width: 220px;
  background: $darkest-blue;
  display: flex;
  flex-direction: column;

  .sidebar-header {
    display: flex;
    justify-content: space-around;
    height: 48px;
  }

  #logo {
    color: white;
    font: Lemonada;
    font-size: 1.75em;
    line-height: 48px;
  }

  i {
    color: white;
    font-size: 1.5em;
    line-height: 48px;
  }

  i:hover{
    color: $dark-blue;
  }
}

.sidebar-category {
  text-transform: uppercase;
  font-weight: bold;
}

.show-sidebar-menu {
  padding-left: 10px;

  a {
    color: $link-grey;
  }

  a:hover {
    color: $dark-blue;
  }
}

.sidebar-active {
  left: 0px !important;
  transition: 0.5s;
}
