.app {
  display: flex;
  height: 100%;
}

.header-nav {
  height: 48px;
  line-height: 48px;

  div, ul, li {
    height: 100%;
  }

}

i.material-icons {
  height: 48px;
  line-height: 48px;
}

.header-links {
  margin: 0;
  display: flex;
  justify-content: space-between;

  a {
    color: #898e95;
  }

  a:hover {
    color: $dark-blue;
  }
}

.main-page {
    width: 100%;
}

.sidebar-container {
  height: 100%;
  width: 200px;
  background: #7BB3E8;
}

.side-expanded {

}

.side-collapsed {

}
