.project-list {
  margin-top: 20px;
  padding: 0 110px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-item {
  background: white;
  margin: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item-header {
  display: flex;
  width: calc(100% - 20px);
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
}

.project-item-header:hover {
  cursor: pointer;
}

.add-project {
  background: white;
  margin: 10px;
  height: 300px;
  width: 300px;
  border: 1px dashed $grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-project:hover {

}

#add-project-btn {
}

#add-project-btn:hover {
}
