html, body, #root {
  height: 100%;
}

.splash-container {
  height: 100%;
  background: linear-gradient(to top right, #94AFFF 10%, #7BB3E8 65%, #87E5FF 125%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.errors {
  color: red;
}

hr {
  margin-top: 20px;
  width: 80%;
  height: 1px;
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.or:after {
	content: 'or';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
  background: white;
	color: #8c8b8b;
	font-size: 18px;
}

.login-footer {
  width: 100%;
  color: white;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.login-footer-right > a {
  color: #FAFAFA;
  text-decoration: underline dotted;
}

.login-footer-right > a:hover {
  color: #F50057
}

.right-align {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
}

.splash-header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-header-buttons > * {
  margin-right: 5px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

#page-header {
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

#page-header > * {
  margin-left: 15px;
  margin-right: 10px;
}

.splash-card > * {
  display: flex;
  flex-direction: column;
  height: 460px;
  align-items: center;
  justify-content: space-around;
}

.splash-card {
  min-height: 500px;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.splash-hero {
  color: white;
  text-align: center;

  h2 {
    font-size: 2.5em;
  }
  h6 {
    font-size: 1.25em;
  }
}

.splash-title {
  font-size: 2em;
  font-family: Lemonada;
  color: white;
}

.splash-body {
  margin-top: 60px;
  height: 540px;
}

.splash-footer {
  background-color: white;
  flex: 1 auto;
  display: flex;
  justify-content: space-around;
  // align-items: center;
}

.splash-footer > * {
  margin-top: 60px;
  text-align: center;
  font-size: 1.5em;
}

.splash-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
