html, body, #root {
  height: 100%;
}

.splash-container {
  height: 100%;
  background: linear-gradient(to top right, #94AFFF 10%, #7BB3E8 65%, #87E5FF 125%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errors {
  color: $error-color;
}

hr {
  width: 80%;
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.or:after {
	content: 'or';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
  background: white;
	color: #8c8b8b;
	font-size: 18px;
}

.login-footer {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.splash-title {
  font-family: Lemonada;
  color: white;
}

.splash-card {
  min-height: 350px;
  width: 100%;
}

.splash-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
